body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
    background: #f5f5f5fe;
  }

.container {
display: grid;
grid-template-columns: repeat(5, 1fr);
gap: 10px;
grid-auto-rows: minmax(200px, auto);
margin: 100px, auto;
max-width: 1000px;
padding: 10px;
}

.item {
background-color: steelblue;
color: white;
font-size: 16px;
padding: 20px;
border: skyblue 1px solid;
}

.item:nth-child(1) {
grid-column: span 2;
}

.item:nth-child(3) {
grid-row: span 2;
}

.item:nth-child(4) {
 grid-column: span 2;
}
